<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="umic_signboard">
  <link
    name="umic_signboard">
    <inertial>
      <origin
        xyz="0.10791 -0.00102259999999998 0.36206"
        rpy="0 0 0" />
      <mass
        value="0.12224" />
      <inertia
        ixx="0.0029263"
        ixy="1.14050000000001E-05"
        ixz="-0.0012296"
        iyy="0.0041735"
        iyz="-1.24610000000002E-05"
        izz="0.00125" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://signboard/meshes/umic_signboard.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://signboard/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://signboard/meshes/umic_signboard.STL" />
      </geometry>
    </collision>
  </link>
</robot>
